In [2]:
# 특수 문자 : \n (new line), \t(tab)
var01 = "Hello World!\n\nNice\t\t meet you."
print(var01)

Hello World!

Nice		 meet you.

In [4]:
# 쌍따옴표와 홑따옴표의 사용
print("My father's wife is my mother.")
print('He says "I love you."')

My father's wife is my mother.
He says "I love you."

In [6]:
# 문자열 연산(덧셈)
var01 = "Python"
var02 = "is fun."

print(var01, var02)
print(var01 + var02)

Python is fun.
Pythonis fun.

In [7]:
# 문자열 연산(곱셈)
var01 = 'Python'
print(var01 * 3)

PythonPythonPython

In [14]:
print("010", "1111", "2222", sep="-")

010-1111-2222

In [18]:
print("Lee", end=" ")
print("Jin Ho")

Lee Jin Ho

In [21]:
print("=" * 20)
print("Python")
print("=" * 20)

====================
Python
====================

In [25]:
# Ex : 위의 결과를 print() 하나로 작성하기
print("=" * 20, "Python", "=" * 20, sep="\n")

====================
Python
====================

---
## 문자열의 indexing과 slicing

In [34]:
str = "abcdefghijklmn"

print(str)
print(str[0]) # index번호 0번 사용 
print(str[1])
print(str[0:2+1]) # slicing 사용
print(str[:2+1])
print(str[:4+1])
print(str[5:])
print(str[-1])

# Ex : fghijkl
print(str[5:-2])

abcdefghijklmn
a
b
abc
abc
abcde
fghijklmn
n
fghijkl

In [35]:
# Ex 
str = "20251231snow"
year = str[:4]
month_day = str[4:-4]
weather = str[-4:]
print(year, month_day, weather) # 2025 1231 snow

2025 1231 snow

### 문자열 formatting

In [43]:
# 정수형 formatting(%d)
count = 2
# I have 2 apples.
print("I have", count, "apples.")
print("I have %d apples."%count)
print("I have %5d apples."%count) # 우측 정렬 
print("I have %-5d apples."%count) # 좌측 정렬 
print("I have %05d apples."%count) # 빈곳을 0으로 채우기

I have 2 apples.
I have 2 apples.
I have     2 apples.
I have 2     apples.
I have 00002 apples.

In [45]:
# 문자형 formatting(%s)
count = "two"
# I have 2 apples.
print("I have", count, "apples.")
print("I have %s apples."%count)
print("I have %5s apples."%count) # 우측 정렬 
print("I have %-5s apples."%count) # 좌측 정렬

I have two apples.
I have two apples.
I have   two apples.
I have two   apples.

In [46]:
# 혼합형 formatting : I have 2 apples.
count = 2
fruit = 'apple'

print("I have %d %s."%(count, fruit))

I have 2 apple.

In [49]:
# 실수형 
print("-"*20)
print("%.4f"%3.14159) # 좌측정렬
print("%10.4f"%3.14159) # 우측정렬

--------------------
3.1416
    3.1416

---
## f-string 포맷팅 (String Interpolation)
: python 3.8 이상

In [50]:
# 현재 version 확인
import sys
sys.version

'3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]'

In [51]:
# f-string : I have 2 apples.
count = 2
fruit = 'apples'

print(f"I have {count} {fruit}.")

I have 2 apples.

In [52]:
# Ex : 홍길동의 나이는 32세 입니다. 
name = "홍길동"
age = 32

print(f"{name}의 나이는 {age}세 입니다.")

홍길동의 나이는 32세 입니다.

### 정렬

In [53]:
number = 1234567

In [55]:
# 좌측 정렬
f"{number:<20}"

'1234567             '

In [56]:
# 우측 정렬
f"{number:>20}"

'             1234567'

In [57]:
# 가운데 정렬
f"{number:^20}"

'      1234567       '

In [62]:
# 빈칸 채우기
f"{number:0>20}"

'00000000000001234567'

In [64]:
# 천단위 쉼표
f"{number:,}"

'1,234,567'

In [70]:
# Ex : [-----1,234,567-----]
f'[{number:-^20,}]'

'[-----1,234,567------]'

---
### 문자열 관련 함수

In [76]:
# 문자의 글자 갯수
str = "I have a dream."
print(len(str))

str1 = "대한민국 만세."
print(len(str1))

# str에서 a의 글자갯수 ?
print(str.count('a'))
print(str.count('dream'))
print(str1.count('만세'))

15
8
3
1
1

In [77]:
# 문자 위치 알려주기
print(str.find('e'))

5

In [78]:
# 문자열 삽입
insertMark = "/"
insertMark.join(str)

'I/ /h/a/v/e/ /a/ /d/r/e/a/m/.'

In [81]:
# 소문자를 대문자로 바꾸기
str = 'hi'
str = str.upper()

In [82]:
str

'HI'

In [83]:
# 대문자를 소문자로 바꾸기
str = str.lower()
str

'hi'

In [85]:
# 왼쪽 공백 지우기
str = "                hi"
print(str)
str = str.lstrip()
str

                hi

'hi'

In [86]:
# 왼쪽 공백 지우기
str = "hi            "
print(str)
str = str.rstrip()
str

hi

'hi'

In [91]:
# 양쪽 공백 지우기
str = "             hi              "
print(str)
str = str.strip()
str

             hi

'hi'

In [92]:
# 문자열 바꾸기 : happy -> unhappy
str = "Life is too short to be happy."
str.replace('happy', 'unhappy')

'Life is too short to be unhappy.'

In [96]:
# Ex: 출력시 apple, banana, melon 으로 출력하기
str = "apple\nbanana\nmelon"
print(str)
str = str.replace("\n", ", ")
print(str)

apple
banana
melon
apple, banana, melon

In [98]:
# 문자열 나누기 
str = "Life is too short to be happy."
list01 = str.split() # " " 중심으로 분리 
print(list01[0])

Life

In [100]:
str02 = 'a:b:c:d'
str02.split(':') # : 기준으로 데이터 분리하기

['a', 'b', 'c', 'd']

In [110]:
str02 = "a:b:c/d"
str02.replace("/", ":").split(":")

['a', 'b', 'c', 'd']

---
### 날짜형 변환

In [111]:
# 날짜형 모듈 
from datetime import datetime, timedelta

In [113]:
time1 = datetime(2025,12,25,0,0,0)
print(time1)
print(type(time1))

2025-12-25 00:00:00
<class 'datetime.datetime'>

In [116]:
# 날짜 계산하기
time2 = datetime.now()
print(time2)
print(time1 - time2)
print(f"두 날짜의 차이는 {(time1-time2).days}일 입니다.")

2025-04-27 14:06:43.252459
241 days, 9:53:16.747541
두 날짜의 차이는 241일 입니다.

In [120]:
# 특정 날짜
print(f"현재 일부터 5일 뒤는 {time2 + timedelta(days=5)} 입니다.")
print(f"현재 일부터 3일 전은 {time2 + timedelta(days=-3)} 입니다.")
print(f"현재 일부터 3일 전은 {time2 - timedelta(days=3)} 입니다.")
print(f"현재 일부터 1일 뒤의 2시간 전은 {time2 + timedelta(days=1, hours=-2)} 입니다.")

현재 일부터 5일 뒤는 2025-05-02 14:06:43.252459 입니다.
현재 일부터 3일 전은 2025-04-24 14:06:43.252459 입니다.
현재 일부터 3일 전은 2025-04-24 14:06:43.252459 입니다.
현재 일부터 1일 뒤의 2시간 전은 2025-04-28 12:06:43.252459 입니다.