### 리스트(List) 자료형
: 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 위해 사용

In [1]:
# 리스트 선언
var01 = [] # 비어 있는 리스트 만들기 
var02 = [1,2,3] 
var03 = ['I', 'have', 'a', 'dream']
var03[1]

'have'

In [2]:
var04 = [1, 2, 'Dream', 'True']
var04

'Dream'

In [4]:
var05 = [1, 2, ['Dream', 'True']]
var05[2][0]

'Dream'

In [7]:
# Ex : False만 출력하기
var05 = [1, 2, ['Dream', ['True', 'False']]]
var05[2][1][1]

'False'

In [12]:
# Ex : var02의 data중 2 + 3을 계산하기 
var02[1] + var02[2]

5

In [16]:
# Ex : Dream만 출력하기(단, 2는 사용하지 말기!)
var05[-1][0]

'Dream'

---
### 리스트 연산자

In [17]:
# 숫자 리스트들을 합쳐서 하나의 리스트로 만들기 
var01 = [1,2,3]
var02 = [4,5,6]
var03 = var01 + var02
var03

[1, 2, 3, 4, 5, 6]

In [18]:
# 리스트의 덧셈
print(var01[0] + var02[0])
print(var01[1] + var02[1])
print(var01[2] + var02[2])

5
7
9

In [21]:
# range(from, to+1, step)
for i in range(len(var01)):
    print(var01[i] + var02[i])

5
7
9

In [26]:
# Ex : [1,2,3] -> [3,6,9]
for i in range(len(var01)):
    print(var01[i]*3)

3
6
9

In [31]:
for i in var01:
    print(i*3)

3
6
9

In [34]:
# 1hi : 숫자를 문자로 변경하기 
var01 = [1,2,3]
str(var01[0])+'hi'

'1hi'

In [39]:
# 덧셈 
var01 = [1,2,3]
var02 = "10"
var01[0] + int(var02)

11

---
### 리스트의 수정과 삭제

In [41]:
# var의 3을 4로 변경
var = [1,2,3]
var[2] = 4
var

[1, 2, 4]

In [44]:
# [1,2,4] -> [1, 'a', 'b', 'c', 4]
var = [1,2,4]
# var[1] = ['a','b','c']
var[1:2] = ['a','b','c']
var

[1, 'a', 'b', 'c', 4]

In [45]:
# Ex : var에서 'a','b'를 삭제
var[1:2+1] = []
var

[1, 'c', 4]

In [46]:
# var에서 c만 삭제
del var[1]
var

[1, 4]

In [49]:
# Ex : range함수와 list함수를 이용하여 [100, 200, 300, 400, 500, 600, 700]의 List 작성하기
varEx = list(range(100, 700+1, 100))
varEx

[100, 200, 300, 400, 500, 600, 700]

In [50]:
# Ex : varEx에서 data가 200인것 삭제
del varEx[1]
varEx

[100, 300, 400, 500, 600, 700]

In [51]:
# Ex : varEx에서 data가 300, 400, 500 삭제
del varEx[1:3+1]
varEx

[100, 600, 700]

In [52]:
# 원 상태로 복원하기 
varEx[1:1+1] = range(200, 600+1, 100)
varEx

[100, 200, 300, 400, 500, 600, 700]

In [53]:
# 리스트에 data 추가하기
var = [1,2,3]
var.append(4)
var

[1, 2, 3, 4]

In [55]:
# 반복문을 통해 List에 1부터 100까지의 data 넣기

var = []
for i in range(1, 100+1):
    var.append(i)
    
print(var)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

---
## 정렬

In [57]:
var = [1,4,3,2]

# 오름차순 정렬
var.sort()
print(var)

# 내림차순 정렬
var.reverse()
print(var)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [58]:
var = ['a', 'c', 'b']

# 오름차순 정렬
var.sort()
print(var)

# 내림차순 정렬
var.reverse()
print(var)

['a', 'b', 'c']
['c', 'b', 'a']

In [59]:
var = ['대','한','민','국']

# 오름차순 정렬
var.sort()
print(var)

# 내림차순 정렬
var.reverse()
print(var)

['국', '대', '민', '한']
['한', '민', '대', '국']

In [60]:
# 리스트 data의 index번호 찾기
var.index('대')

2

In [62]:
# 리스트에 data 삽입하기
var = [1,2,3]
var.append(4)
var.insert(0, 0)
var

[0, 1, 2, 3, 4]

In [63]:
# 데이터 제거하기 : data가 4인것 제거하기 
var = [1,2,3,4,5]
var.remove(4)
var

[1, 2, 3, 5]

In [64]:
# 리스트에 데이터 끄집어 내기
var = [1,2,3]
endNum = var.pop()
print(endNum)
print(var)

3
[1, 2]

In [65]:
# 위치를 정하여 끄집어 내기
var = [1,2,3]
findNum = var.pop(1)
print(findNum)
print(var)

2
[1, 3]

In [66]:
# 위치를 정하여 끄집어 내기 : data가 2인것 
var = [1,2,3]
findNum = var.pop(var.index(2))
print(findNum)
print(var)

2
[1, 3]

### 리스트의 확장

In [67]:
var01 = [1,2,3,4]
var02 = [5,6]
var01 = var01 + var02
var01

[1, 2, 3, 4, 5, 6]

In [68]:
var01 = [1,2,3,4]
var02 = [5,6]
var01.extend(var02)
var01

[1, 2, 3, 4, 5, 6]

In [71]:
# Ex : var란 변수에 1부터 100까지의 숫자 List를 생성하기
var = list(range(1, 100+1))
print(var)

# 다른 변수를 사용하지 않고 var에 101부터 200까지의 데이터 확장하기
var.extend(list(range(101, 200+1)))
print(var)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]

In [73]:
# var의 합계
sum(var)

20100

In [74]:
# Ex : Hello World My name is Alice and I'm 30 years old.
list01 = [1, 3.14, 'Hello World', True, [170, 50, 30], ['Alice', 'Cathy']]
list01

[1, 3.14, 'Hello World', True, [170, 50, 30], ['Alice', 'Cathy']]

In [82]:
print(f"{list01[2]} My name is {list01[-1][0]} and I'm {list01[4][-1]} years old.")

Hello World My name is Alice and I'm 30 years old.

---
### 리스트의 복사

In [ ]:
# Call by reference

var01 = [1,2,3,4]
var02 = var01

In [84]:
var02[0] = 10

In [85]:
print(var01)
print(var02)

[10, 2, 3, 4]
[10, 2, 3, 4]

In [86]:
# Call by value

var01 = [1,2,3,4]
var02 = var01.copy()

In [87]:
var02[0] = 10
print(var01)
print(var02)

[1, 2, 3, 4]
[10, 2, 3, 4]