### 함수

In [1]:
# 덧셈
3+2

5

In [2]:
num1 = 3
num2 = 2
num1 + num2

5

In [3]:
def test2(num1, num2):
    return num1 + num2

In [4]:
test2(5,4)

9

#### 함수에서 함수를 호출

In [5]:
def test3(num1, num2):
    x = num1 + 1
    y = num2 + 1
    return test2(x, y)

In [6]:
test3(10, 20)

32

---
#### 가변 길이 인수를 가진 함수 (Unpacking 연산자)

In [7]:
# 여러개의 숫자를 받아 덧셈을 구하는 함수 만들기

def sumManyF(*nums):
    sum = 0
    for i in nums:
        sum+=i
    return sum

In [8]:
sumManyF(1,2,3)

6

In [9]:
sumManyF(1,2,3,4,5,6,7,8,9,10)

55

In [10]:
import numpy as np

def sumManyF1(*nums):
    return np.sum(nums)

In [11]:
sumManyF1(1,2,3)

6

In [12]:
sumManyF1(1,2,3,4,5,6,7,8,9,10)

55

In [13]:
# Ex
def gugu(dan):
    for i in range(1,9+1):
        print(f"{dan} X {i} = {dan*i}")

In [14]:
gugu(5)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [15]:
def gugu2(dan, num):
    for i in dan:
        for j in num:
            print(f"{i} X {j} = {i*j}")
        print("-" * 10)

In [16]:
dan = [2,5,8]
num = [6,7,8,9]

gugu2(dan, num)

2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
----------
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
----------
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
----------

#### 덧셈 기능과 곱셈 기능을 구분하여 숫자의 결과를 보여주는 함수

In [17]:
def sum_mulF(choice,*inputValue):
    if choice == "sum":
        result = 0
        for i in inputValue:
            result += i
    elif choice == "mul":
        result = 1
        for i in inputValue:
            result *= i
    else:
        result = "I don't know."
        
    return result

In [18]:
result = sum_mulF('sum',1,2,3,4,5)
print(result)

15

In [19]:
result = sum_mulF('mul',1,2,3)
print(result)

6

In [20]:
result = sum_mulF('aaa',1,2,3)
print(result)

I don't know.

In [21]:
def sum_mulF1(choice,inputValue):
    if choice == "sum":
        result = 0
        for i in inputValue:
            result += i
        return result
    elif choice == "mul":
        result = 1
        for i in inputValue:
            result *= i
    else:
        result = "I don't know."

In [22]:
result = sum_mulF1('sum',[1,2,3,4,5])
print(result)

15

In [23]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [24]:
result = sum_mulF1('sum',list((1,2,3,4,5)))
print(result)

15

----
return문은 결과값이 항상 하나이다.     
return문을 2개 이상 사용했을 경우에는 맨 처음 return문만 실행한다.

In [25]:
def sum_mul(a,b):
    return a + b
    return a * b

In [26]:
sum_mul(3,4)

7

In [27]:
# 2개 이상의 결과값을 출력하려면 Tuple을 사용한다. 
def sum_mul(a, b):
    return a+b, a*b

In [28]:
sum_mul(3,4)

(7, 12)

In [29]:
return_sum, return_mul = sum_mul(3,4)
print(return_sum)
print(return_mul)

7
12

In [30]:
sum_mul(3,4)[0]

7

In [31]:
# Ex : Tuple을 사용한 덧셈,뺄셈,곱셈,나눗셈을 한번에 return하기
def calcAll(num1, num2):
    return num1+num2, num1-num2, num1*num2, \
            "0으로 나눌수 없음" if num2 == 0 else num1 / num2

In [32]:
addResult, subResult, mulResult, divResult = calcAll(2,0)
print(f"덧셈 결과 : {addResult}")
print(f"뺄셈 결과 : {subResult}")
print(f"곱셈 결과 : {mulResult}")
print(f"나눗셈 결과 : {divResult}")

덧셈 결과 : 2
뺄셈 결과 : 2
곱셈 결과 : 0
나눗셈 결과 : 0으로 나눌수 없음

---
### 함수에 초기값(기본값) 설정하기

In [33]:
def say_myself(name, age, gender=True):
    print(f"나의 이름은 {name} 입니다.")
    print(f"나이는 {age}살 입니다.")
    print(f"{"남자" if gender else "여자"} 입니다.")

In [34]:
say_myself("유비", 30)

나의 이름은 유비 입니다.
나이는 30살 입니다.
남자 입니다.

In [35]:
say_myself("관우", 30, True)

나의 이름은 관우 입니다.
나이는 30살 입니다.
남자 입니다.

In [36]:
say_myself("초선", 20, False)

나의 이름은 초선 입니다.
나이는 20살 입니다.
여자 입니다.

In [37]:
# Ex : 구구단에서 곱해지는 수가 짝수인 경우에만 출력하기
def guguDan(dan):
    for i in range(2,8+1,2):
        print(f"{dan} X {i} = {dan*i}")

In [ ]:
guguDan(4)

4 X 2 = 8
4 X 4 = 16
4 X 6 = 24
4 X 8 = 32

In [40]:
# Ex : 구구단에서 시작 단과 끝단을 정해 출력하는 함수
def guguDan2(dan1, dan2):
    for dan in range(dan1, dan2+1):
        print(f"----{dan}단---")
        for i in range(1,9+1):
            print(f"{dan} X {i} = {dan*i}")

In [41]:
guguDan2(2, 5)

----2단---
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
----3단---
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
----4단---
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
----5단---
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [43]:
# Ex : 해당단의 곱해지는 수의 범위의 결과만 출력하는 함수
def guguDan3(dan, start, end):
    for i in range(start, end+1):
        print(f"{dan} X {i} = {dan*i}")

In [44]:
guguDan3(2, 5, 9) # 2단의 곱해지는 수는 5부터 9까지

2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [45]:
# Ex: guguDan3함수에서 곱해지는 수가 짝수일 경우에만 출력
def guguDan3(dan, start, end):
    for i in range(start, end+1):
        if i % 2 == 0:
            print(f"{dan} X {i} = {dan*i}")

In [46]:
guguDan3(2, 5, 9)

2 X 6 = 12
2 X 8 = 16

In [47]:
# Ex : 원의 면적과 둘레를 구하는 함수
# 원의 면적 : pi*r**2, 둘레 : 2*pi*r
import math
def circle_area_length(r):
    return math.pi * r**2, 2 * math.pi * r

In [48]:
area, length = circle_area_length(5)
print(f"원의 면적 : {area}, 원의 둘레 : {length}")

원의 면적 : 78.53981633974483, 원의 둘레 : 31.41592653589793

---
### 람다(lambda)함수
- 함수를 간결하게 만들때 사용
- def, return이 없음

In [49]:
# 일반함수
def addFunction(num1, num2):
    sum = num1 + num2
    return sum

In [50]:
addFunction(10, 20)

30

In [51]:
# Lambda 함수
addLambda = lambda num1, num2 : num1 + num2
addLambda(10, 20)

30