### 파일 읽고 쓰기

In [1]:
# 파일을 쓰기모드로 열어 출력값 저장하기
f = open("../Data/new.txt", "w")
for i in range(1, 10+1):
    data = f"{i}번째 줄 입니다.\n"
    f.write(data)

f.close()

In [3]:
# 파일을 읽기 모드로 열어 파일 내용 출력하기 - 1
f = open("../Data/new.txt", "r")
while True:
    line = f.readline()
    if not line:
        break
    print(line, end="")
f.close()

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.

In [4]:
# 파일을 읽기 모드로 열어 파일 내용 출력하기 - 2
f = open("../Data/new.txt", "r")
lines = f.readlines()
f.close()

for line in lines:
    print(line, end="")

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.

In [5]:
# 파일을 읽기 모드로 열어 파일 내용 출력하기 - 3
f = open("../Data/new.txt", "r")
data = f.read()
f.close()

print(data)

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.

In [6]:
# 파일에 새로운 내용 추가하기
f = open("../Data/new.txt", "a")
for i in range(11, 20+1):
    data = f"{i}번째 줄 입니다.\n"
    f.write(data)

f.close()

In [7]:
# 파일을 읽기 모드로 열어 파일 내용 출력하기 - 3
f = open("../Data/new.txt", "r")
data = f.read()
f.close()

print(data)

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.
11번째 줄 입니다.
12번째 줄 입니다.
13번째 줄 입니다.
14번째 줄 입니다.
15번째 줄 입니다.
16번째 줄 입니다.
17번째 줄 입니다.
18번째 줄 입니다.
19번째 줄 입니다.
20번째 줄 입니다.

### with문
: 파일을 열고 닫음을 자동처리, with문 밖으로 나가면 자동 close()

In [8]:
# 파일에 저장하기
with open("../Data/new2.txt", "w") as f:
    for i in range(1, 10+1):
        f.write(f"{i}번째 줄 입니다.\n")

In [9]:
# 파일 불러오기
with open("../Data/new2.txt" ,"r") as f:
    print(f.read())

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.

---
### Pandas로 불러오기

In [10]:
import pandas as pd

In [14]:
# File 불러오기
tfSample = pd.read_table("../Data/new.txt", header=None)
tfSample.tail()

              0
15  16번째 줄 입니다.
16  17번째 줄 입니다.
17  18번째 줄 입니다.
18  19번째 줄 입니다.
19  20번째 줄 입니다.