### Series
: 데이터가 순차적으로 나열된 1차원 배열의 형태

In [1]:
import pandas as pd

### Dictionary -> Series

In [6]:
# Dictionary 만들기
dict_data = {
    'a' : 1,
    'b' : 2,
    'c' : 3,
}
dict_data

{'a': 1, 'b': 2, 'c': 3}

In [7]:
# Series로 변환
sr = pd.Series(dict_data)
sr

a    1
b    2
c    3
dtype: int64

In [8]:
sr['a']

1

### List -> Series

In [9]:
list_data = [
    '2025-12-31',
    3.14,
    'abc',
    100,
    True
]

list_data

['2025-12-31', 3.14, 'abc', 100, True]

In [11]:
sr = pd.Series(
    list_data,
    index=['년도', '실수', '문자', '정수', '부울']
)
sr

년도    2025-12-31
실수          3.14
문자           abc
정수           100
부울          True
dtype: object

In [16]:
sr.loc['년도']

'2025-12-31'

In [17]:
sr.iloc[0]

'2025-12-31'

### Tuple -> Series

In [18]:
tuple_data = (
    "유비",
    "2025-12-31",
    '남',
    False
)
tuple_data

('유비', '2025-12-31', '남', False)

In [19]:
sr = pd.Series(
    tuple_data,
    index=['이름', "생년월일", '성별', '학생여부']
)
sr

이름              유비
생년월일    2025-12-31
성별               남
학생여부         False
dtype: object

In [22]:
# 데이터 불러오기
sr.loc['이름']

'유비'

In [23]:
sr.iloc[0]

'유비'

In [25]:
# 생년월일, 성별 
sr.loc["생년월일":"성별"]

생년월일    2025-12-31
성별               남
dtype: object

In [27]:
sr.iloc[1:2]

생년월일    2025-12-31
dtype: object

In [26]:
sr.loc[["생년월일", "성별"]]

생년월일    2025-12-31
성별               남
dtype: object

In [28]:
sr.iloc[[1,2]]

생년월일    2025-12-31
성별               남
dtype: object

### Series의 연산

In [30]:
student1 = pd.Series(
    {
        '국어' : 100,
        '영어' : 80,
        '수학' : 90
    }
)

student1

국어    100
영어     80
수학     90
dtype: int64

In [31]:
# 모든 과목의 점수를 100으로 나누자
student1 / 100

국어    1.0
영어    0.8
수학    0.9
dtype: float64

In [32]:
student2 = pd.Series(
    {
        '수학' : 80,
        '국어' : 90,
        '영어' : 80
    }
)

student2

수학    80
국어    90
영어    80
dtype: int64

In [33]:
# 덧셈
addition = student1 + student2
addition

국어    190
수학    170
영어    160
dtype: int64

> index에 맞추어져서 연산이 이루어진다.

In [34]:
# 뺄셈
subtraction = student1 - student2
# 곱셈
multiplication = student1 * student2
# 나눗셈
division = student1 / student2

In [35]:
division

국어    1.111111
수학    1.125000
영어    1.000000
dtype: float64

In [36]:
# 사칙연산 결과를 데이터프레임으로 만들기
pd.DataFrame(
    [
        addition, subtraction, multiplication, division
    ],
    index=['덧셈', '뺄셈','곱셈','나눗셈']
)

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

---
### NaN(Not a Number : 결측치)값이 있는 연산

In [37]:
import numpy as np

In [38]:
student1 = pd.Series(
    {
        '국어' : np.nan,
        '영어' : 80,
        '수학' : 90
    }
)
student1

국어     NaN
영어    80.0
수학    90.0
dtype: float64

In [39]:
student2 = pd.Series(
    {
        '수학' : 80,
        '국어' : 90,
    }
)
student2

수학    80
국어    90
dtype: int64

In [40]:
# 덧셈
addition = student1 + student2
addition

국어      NaN
수학    170.0
영어      NaN
dtype: float64

> 덧셈에서 각 데이터 사이에 공통 인덱스가 없거나 NaN이 포함된 경우 연산 결과는 NaN이다.

In [41]:
addition = student1.add(student2)
subtraction = student1.sub(student2)
multiplication = student1.mul(student2)
division = student1.div(student2)

In [42]:
# 사칙연산 결과를 데이터프레임으로 만들기
pd.DataFrame(
    [
        addition, subtraction, multiplication, division
    ],
    index=['덧셈', '뺄셈','곱셈','나눗셈']
)

     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

### NaN의 경우를 0으로 대체하여 연산한다.

In [43]:
addition = student1.add(student2, fill_value=0)
subtraction = student1.sub(student2, fill_value=0)
multiplication = student1.mul(student2, fill_value=0)
division = student1.div(student2, fill_value=0)

In [44]:
# 사칙연산 결과를 데이터프레임으로 만들기
pd.DataFrame(
    [
        addition, subtraction, multiplication, division
    ],
    index=['덧셈', '뺄셈','곱셈','나눗셈']
)

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

> inf(infinity:무한대) : 나눗셈 80/0