### 딕셔너리(Dictionary)
: List나 Tuple처럼 index로 처리하지 않고 key를 통해 value를 처리

In [2]:
# 생성하기

dic = {
    'name' : 'petty',
    'phone' : '010-1111-2222',
    'birth' : '1231'
}
dic

{'name': 'petty', 'phone': '010-1111-2222', 'birth': '1231'}

### Dictionary 사용하기

In [4]:
print(dic['name'])
print(dic['phone'])

petty
010-1111-2222

In [5]:
# Dictonary의 value(data)가 List인 경우

dic = {
    'a' : [1,2,3],
    'b' : [4,5,6]
}
dic

{'a': [1, 2, 3], 'b': [4, 5, 6]}

In [7]:
# dic에서 1만 추출하기
dic['a'][0]

1

In [8]:
# dic에 data 추가하기
dic['name'] = 'petty'
dic

{'a': [1, 2, 3], 'b': [4, 5, 6], 'name': 'petty'}

In [9]:
# dic에 데이터 변경하기
dic['name'] = 'cathy'
dic

{'a': [1, 2, 3], 'b': [4, 5, 6], 'name': 'cathy'}

In [10]:
# 삭제 하기
del dic['b']
dic

{'a': [1, 2, 3], 'name': 'cathy'}

In [11]:
# 완전 지우기
dic.clear()
dic

{}

In [12]:
# List에 Dic을 사용하기 (JSON)
dic2 = [
    {
        '학번' : '0001',
        '이름' : '유비'
    },
    {
        '학번' : '0002',
        '이름' : '관우'
    }
]

In [14]:
dic2[0]['이름']

'유비'

In [19]:
# Ex : String Interpolation(f-string)을 사용하여
# 출력 : 나의 이름은 홍길동이고 나이는 30세 입니다. 
d = {
    'name' : '홍길동',
    'age' : 30
}

print(f'나의 이름은 {d['name']}이고 나이는 {d['age']}세 입니다.')

나의 이름은 홍길동이고 나이는 30세 입니다.

In [23]:
# Ex : 유비의 정보만 가져오기 
friend = {
    '이름' : ['유비', '관우','장비'],
    '전화번호' : ['1111','2222', '3333'],
    '주소' : ['서울', '인천', '부산']
}
print(friend['이름'][0], friend['전화번호'][0], friend['주소'][0])

유비 1111 서울

---
### 객체 동일성

In [24]:
list1 = ['one', 'two']
list2 = ['one', 'two']

In [25]:
list1 is list2

False

In [26]:
list1 == list2

True

In [27]:
list1[0] is list2[0]

True

In [28]:
list1[0] == list2[0]

True

In [29]:
var01 = [1,2,3,4]
var02 = var01

In [31]:
print(var01 is var02)
print(var01 == var02)

True
True

In [32]:
var01[0] = 10
print(var02)

[10, 2, 3, 4]

In [33]:
var01 = [1,2,3,4]
var02 = var01.copy()

In [34]:
print(var01 is var02)
print(var01 == var02)

False
True