### 집합(Set) 자료형
- 집합 자료형은 집합에 관련된 것들을 쉽게 처리한다. 
- 중복을 허용하지 않음 
- 순서가 없음

In [3]:
# Set 생성
list01 = [5,1,2,5,3,4,5,5,5,5,6,6,6,7,7,7]
s1 = set(list01)
s2 = set([4,5,6,7])

print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7}
{4, 5, 6, 7}

In [7]:
# 교집합
print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6, 7}
{4, 5, 6, 7}

In [8]:
# 합집합
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [9]:
# 차집합
print(s1 - s2)
print(s1.difference(s2))

{1, 2, 3}
{1, 2, 3}

---
### 집합 관련 함수

In [13]:
# 데이터 1개 추가 : add
a = [1,2,3]
s1 = set(a)
s1.add(4)
s1

{1, 2, 3, 4}

In [14]:
# 데이터 여러개 추가 : update
b = [4,5,6]
s1.update(b)
s1

{1, 2, 3, 4, 5, 6}

In [ ]:
# 특정값 제거
s1.remove(4) # index가 아니고 data 지우기 
s1

{1, 2, 3, 5, 6}

In [20]:
# Ex : Set을 사용하여 중복값 제거 하기
# 출력물 : [1,2,3,4]
var = [1,1,2,2,3,3,4,4]
list(set(var))

[1, 2, 3, 4]