### 자료형의 참과 거짓
- 문자열 : ""안에 data가 없으면 False, data가 있으면 True
- 리스트 : [] ---> 
- 튜플   : () ---> 
- 딕셔너리 : {} --> 
- 숫자 : 0이면 False, 0이 아닌 숫자는 True

In [1]:
# 리스트형에서 자료 출력하면서 자료 지우기
var = [0,1,2,3,4]

while var:
    print(var.pop())

4
3
2
1
0

In [2]:
var

[]

In [3]:
# 튜플을 이용한 변수 생성
var01, var02 = 1, 2
print(var01, var02)

1 2

In [4]:
# 변수 초기값 정의
var01 = var02 = var03 = 1
var02 = 2

print(var01, var02, var03)

1 2 1

### Collection(List)에서 data 복사하기

In [5]:
# Method 1
var01 = [1,2,3]
var02 = var01.copy()
var02[1] = 4
print(var01)
print(var02)

[1, 2, 3]
[1, 4, 3]

In [6]:
# Method 2
var01 = [1,2,3]
var02 = var01[:]
var02[1] = 4
print(var01)
print(var02)

[1, 2, 3]
[1, 4, 3]

In [7]:
# Method 3
from copy import copy

var01 = [1,2,3]
var02 = copy(var01)
var02[1] = 4
print(var01)
print(var02)

[1, 2, 3]
[1, 4, 3]

### Type 변환

In [13]:
# 문자열을 정수로 변환하기
str_num = '123'
print(type(str_num))

int_num = int(str_num)
print(type(int_num))

<class 'str'>
<class 'int'>

In [14]:
# 문자열을 실수로 변환하기
str_num = "123.456"
float(str_num)

123.456

In [15]:
# 정수를 문자로 변환
int_num = 123
str(int_num)

'123'

In [16]:
# 실수를 문자로 변환
float_num = 123.456
str(float_num)

'123.456'

In [18]:
# 실수를 정수로 변환
float_num = 123.756
int(float_num)

123