# for문
### range()
: range(시작숫자, 끝숫자+1, 증가값)

In [ ]:
print(list(range(10+1)))        # 끝숫자
print(list(range(2, 10+1)))     # 시작, 끝숫자
print(list(range(0, 10+1, 2)))  # 시작, 끝숫자, 증가값

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

### for문에 range함수 적용

In [ ]:
# 1부터 10까지 수중 짝수의 합계 구하기
# 합계 
total1 = 0 # 전역 변수 

for i in range(1, 10+1):
    if i % 2 == 0:
        total1 += i 

print(f"합계 : {total1}")

합계 : 30

In [33]:
# Ex : 1에서 10까지의 제곱근을 출력하기
import math

for i in range(1, 10+1):
    print(f"{i} : {math.sqrt(i)}")

1 : 1.0
2 : 1.4142135623730951
3 : 1.7320508075688772
4 : 2.0
5 : 2.23606797749979
6 : 2.449489742783178
7 : 2.6457513110645907
8 : 2.8284271247461903
9 : 3.0
10 : 3.1622776601683795

In [39]:
# Ex : 1부터 1000까지의 홀수의 합과 짝수의 합을 각각 출력하기
# 출력 예) 짝수의 합은 250,500이고 홀수의 합은 250,000 입니다.

evenTotal = oddTotal = 0  # 누적합 변수

for i in range(1, 1000+1):
    if i % 2 == 0:
        evenTotal += i
    else:
        oddTotal += i

print(f"짝수의 합은 {evenTotal:,}이고 홀수의 합은 {oddTotal:,} 입니다.")

짝수의 합은 250,500이고 홀수의 합은 250,000 입니다.

In [44]:
# Ex : 1부터 10000까지의 수중
# 1) 3의 배수의 갯수 
# 2) 5의 배수의 갯수 
# 3) 3의 배수 이면서 5의 배수인 수의 갯수 
# 4) 3의 배수 이거나 5의 배수인 수의 갯수 

count3 = count5 = count3and5 = count3or5 = 0
for i in range(1, 10000+1):
    if i % 3 == 0:
        count3 += 1
    if i % 5 == 0:
        count5 += 1
    if (i % 3 == 0) and (i % 5 == 0):
        count3and5 += 1
    if (i % 3 == 0) or (i % 5 == 0):
        count3or5 += 1

print(count3, count5, count3and5, count3or5)

3333 2000 666 4667

In [46]:
# 검증 : count3 + count5 - count3and5 = count3or5
(count3 + count5 - count3and5) == count3or5

True

In [51]:
# 구구단 8단 출력
dan = 8
for i in range(1, 9+1):
    print(f"{dan} X {i} = {dan*i}")

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

In [53]:
# Ex : 구구단 7단의 곱해지는 수가 짝수만 출력하기 
# 단, 단은 변경 가능하고, if문 사용 금지
dan = 7
data = range(2, 9+1, 2)

for i in data:
    print(f"{dan} X {i} = {dan*i}")

7 X 2 = 14
7 X 4 = 28
7 X 6 = 42
7 X 8 = 56

In [55]:
# Ex : 사용자로 부터 출력할 단을 입력받아 해당 단의 구구단 출력하기
# 단을 입력하세요 : 3

dan = int(input("단을 입력하세요 :"))
for i in range(1, 9+1):
    print(f"{dan} X {i} = {dan*i}")

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

In [57]:
# 2단 ~ 9단 까지 출력하기

for dan in range(2,9+1):
    print(f"---{dan}단---")
    for i in range(1, 9+1):
        print(f"{dan} X {i} = {dan*i}")

---2단---
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
---3단---
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
---4단---
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
---5단---
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
---6단---
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
---7단---
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
---8단---
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
---9단---
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
# Ex : 구구단 (2~9단)중 짝수단과 짝수 곱해지는 수만 출력하기
# if문 사용하기 
danData = range(2, 9+1)
data = range(1, 9+1)

for dan in danData:
    if dan % 2 == 0:
        print(f"---{dan}단---")
        for i in data:
            if i % 2 == 0:
                print(f"{dan} X {i} = {dan*i}")

---2단---
2 X 2 = 4
2 X 4 = 8
2 X 6 = 12
2 X 8 = 16
---4단---
4 X 2 = 8
4 X 4 = 16
4 X 6 = 24
4 X 8 = 32
---6단---
6 X 2 = 12
6 X 4 = 24
6 X 6 = 36
6 X 8 = 48
---8단---
8 X 2 = 16
8 X 4 = 32
8 X 6 = 48
8 X 8 = 64

In [60]:
# Ex : 구구단 (2~9단)중 짝수단과 짝수 곱해지는 수만 출력하기
# if문 사용 안하기 
danData = range(2, 9+1, 2)
data = range(2, 9+1, 2)

for dan in danData:
    print(f"---{dan}단---")
    for i in data:
        print(f"{dan} X {i} = {dan*i}")

---2단---
2 X 2 = 4
2 X 4 = 8
2 X 6 = 12
2 X 8 = 16
---4단---
4 X 2 = 8
4 X 4 = 16
4 X 6 = 24
4 X 8 = 32
---6단---
6 X 2 = 12
6 X 4 = 24
6 X 6 = 36
6 X 8 = 48
---8단---
8 X 2 = 16
8 X 4 = 32
8 X 6 = 48
8 X 8 = 64

In [71]:
# for문에 Tuple을 함께 사용하기
data = [(1,2), (3,4), (5,6)]

for first, last in data:
    print(first + last)

3
7
11

In [72]:
# 총 5명의 학생이 시험을 보았는데 시험점수가 60점을 넘으면 합격이고
# 그렇지 않으면 불합격이다. 
# 합격 불합격 보여주기
scores = [90, 25, 57, 45, 80]

In [77]:
# index를 사용한 반복
result = ""
for i in range(len(scores)):
    if scores[i] >= 60:
        result = "합격"
    else:
        result = "불합격"
    print(f"{i+1}번의 학생은 {result}입니다.")

1번의 학생은 합격입니다.
2번의 학생은 불합격입니다.
3번의 학생은 불합격입니다.
4번의 학생은 불합격입니다.
5번의 학생은 합격입니다.

In [ ]:
# data를 사용한 반복
result = ""
number = 0
for score in scores:
    number += 1
    if score >= 60:
        result = "합격"
    else:
        result = "불합격"
    print(f"{number}번의 학생은 {result}입니다.")

1번의 학생은 합격입니다.
2번의 학생은 불합격입니다.
3번의 학생은 불합격입니다.
4번의 학생은 불합격입니다.
5번의 학생은 합격입니다.

In [80]:
# data를 사용한 반복
scores = [90, 25, 57, 45, 80]
result = ""
number = 0
for score in scores:
    number += 1
    if score >= 60:
        result = "이므로 합격"
    else:
        result = "이어서 불합격"
    print(f"{number}번의 학생은 점수가 {score} {result}입니다.")

1번의 학생은 점수가 90 이므로 합격입니다.
2번의 학생은 점수가 25 이어서 불합격입니다.
3번의 학생은 점수가 57 이어서 불합격입니다.
4번의 학생은 점수가 45 이어서 불합격입니다.
5번의 학생은 점수가 80 이므로 합격입니다.

In [84]:
# Ex
scores = [90, 25, 57, 45, 80]
number = 1
for score in scores:
    print(f"{number}번의 학생은 점수가 {score} {"이므로 합격" if score >= 60 else "이어서 불합격"} 입니다.")
    number += 1

1번의 학생은 점수가 90 이므로 합격 입니다.
2번의 학생은 점수가 25 이어서 불합격 입니다.
3번의 학생은 점수가 57 이어서 불합격 입니다.
4번의 학생은 점수가 45 이어서 불합격 입니다.
5번의 학생은 점수가 80 이므로 합격 입니다.

In [85]:
# Ex : 학생들 점수의 평균을 구해서
# 평균이상이면 합격, 아니면 불합격
import numpy as np

scores = [90, 25, 57, 45, 80]
number = 1
for score in scores:
    print(f"{number}번의 학생은 점수가 {score} {"이므로 합격" if score >= np.mean(scores) else "이어서 불합격"} 입니다.")
    number += 1

1번의 학생은 점수가 90 이므로 합격 입니다.
2번의 학생은 점수가 25 이어서 불합격 입니다.
3번의 학생은 점수가 57 이어서 불합격 입니다.
4번의 학생은 점수가 45 이어서 불합격 입니다.
5번의 학생은 점수가 80 이므로 합격 입니다.

In [86]:
# Ex : 점수가 60점 이상으로 합격인 학생만 출력하기
# 출력 예)
# 1번의 학생은 합격 입니다.
# 5번의 학생은 합격 입니다.
scores = [90, 25, 57, 45, 80]
number = 0

for score in scores:
    number+=1
    if score < 60:
        continue
    print(f"{number}의 학생은 합격 입니다.")

1의 학생은 합격 입니다.
5의 학생은 합격 입니다.

In [88]:
# 연습 : list의 data를 5배 증가하여 새로운 list를 만들고 평균 구하기
list01 = [1,2,3,4]
new_list = []

for li01 in list01:
    new_list.append(li01 * 5)

print(new_list)
print(np.mean(new_list))

[5, 10, 15, 20]
12.5

In [89]:
# Ex : 60점 이상인 학생들의 번호만 리스트로 만들어 확인하기
number = 0
pass_list = []

for score in scores:
    number += 1
    if score > 60:
        pass_list.append(number)

pass_list

[1, 5]

In [90]:
# Ex : 60점 이상인 학생들의 점수를 List로 만들고 평균 구하기
mean_list = []

for score in scores:
    if score > 60:
        mean_list.append(score)

np.mean(mean_list)

85.0

---
### 문장과 단어 추출

In [91]:
string = """나는 홍길동 입니다.
주소는 서울시 입니다.
나이는 35세 입니다."""
string

'나는 홍길동 입니다.\n주소는 서울시 입니다.\n나이는 35세 입니다.'

In [92]:
sents = [] # 문장 저장
words = [] # 단어 저장

In [94]:
# 문단 -> 문장
string.split("\n")

['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']

In [96]:
for sen in string.split("\n"):
    sents.append(sen)
    for word in sen.split():
        words.append(word)

In [97]:
sents

['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']

In [98]:
words

['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']

In [100]:
# 문장수
print(f"문장수 : {len(sents)}")

# 단어수
print(f"단어수 : {len(words)}")

문장수 : 3
단어수 : 9

In [104]:
data = "111,222,333" # 111 + 222 + 333 = ?
real = [] # 정수로 된 각각의 숫자 
for i in data.split(","):
    real.append(int(i))
np.sum(real)

666

---
### 파이썬의 내포(Comprehension)

In [ ]:
list01 = [1,2,3,4]
list02 = []

for i in list01:
    list02.append(i * 5)

list02

[5, 10, 15, 20]

In [107]:
list01 = [1,2,3,4]
list02 = [i * 5 for i in list01]
list02

[5, 10, 15, 20]

In [108]:
# list01에서 데이터가 짝수인 경우에만 5를 곱해서 list02라는 데이터 만들기

list01 = [1,2,3,4]
list02 = []

for i in list01:
    if i % 2 == 0:
        list02.append(i*5)

list02

[10, 20]

In [109]:
scores

[90, 25, 57, 45, 80]

In [ ]:
# 60점 이상으로 합격한 학생들 점수의 평균구하기

In [111]:
# Ex : 2단 부터 9단까지 구구단의 결과값을 List로 생성하기
guguDan = []
for dan in range(2, 9+1):
    for num in range(1, 9+1):
        guguDan.append(dan * num)
print(guguDan)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [112]:
guguDan = [dan*num for dan in range(2, 9+1) for num in range(1, 9+1)]
print(guguDan)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [114]:
# 단 별로 구분하기
guguDan = [[dan*num for num in range(1, 9+1)] for dan in range(2, 9+1)]
print(guguDan)

[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45], [6, 12, 18, 24, 30, 36, 42, 48, 54], [7, 14, 21, 28, 35, 42, 49, 56, 63], [8, 16, 24, 32, 40, 48, 56, 64, 72], [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [115]:
guguDan[0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]