### 서울시 범죄 안전도

In [2]:
import pandas as pd

crime_anal_police = pd.read_csv("../Data/crime_in_Seoul.csv", encoding='euc-kr')
crime_anal_police.head()

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생 절도 검거  폭력 발생  폭력 검거
0   중부서      2      2      3      2    105     65  1,395   477  1,355  1,170
1   종로서      3      3      6      5    115     98  1,070   413  1,278  1,070
2  남대문서      1      0      6      4     65     46  1,153   382    869    794
3  서대문서      2      2      5      4    154    124  1,812   738  2,056  1,711
4   혜화서      3      2      5      4     96     63  1,114   424  1,015    861

In [3]:
crime_anal_police.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   관서명     31 non-null     object
 1   살인 발생   31 non-null     int64
 2   살인 검거   31 non-null     int64
 3   강도 발생   31 non-null     int64
 4   강도 검거   31 non-null     int64
 5   강간 발생   31 non-null     int64
 6   강간 검거   31 non-null     int64
 7   절도 발생   31 non-null     object
 8   절도 검거   31 non-null     object
 9   폭력 발생   31 non-null     object
 10  폭력 검거   31 non-null     object
dtypes: int64(6), object(5)
memory usage: 2.8+ KB

> 절도발생 ~ 폭력검거까지의 데이터 타입이 object이다 (int로 변경 작업 필요)

In [4]:
# 경찰서 위치 정보
police_address = pd.read_csv("../Data/SeoulPoliceAddress.csv")
police_address.head()

       경찰관서           전화번호            FAX                  주소
0   서울중부경찰서  (02)2273-4400  (02)2275-3009        서울 중구 수표로 27
1   서울종로경찰서  (02)3701-4324  (02)3701-4223       서울 종로구 율곡로 46
2  서울남대문경찰서  (02)2096-8324  (02)2096-8337      서울 중구 한강대로 410
3  서울서대문경찰서   (02)335-8192   (02)335-8189     서울 서대문구 통일로 113
4   서울혜화경찰서   (02)762-4400  (02)3158-7133  서울 종로구 창경궁로 112-16

### crime_anal_police의 관서명 DATA와 일치 시키기
: 중부서 => 서울중부경찰서

In [9]:
# Method 1
station_name = []
for name in crime_anal_police["관서명"]:
    station_name.append('서울' + name[:-1] + "경찰서")

station_name

['서울중부경찰서',
 '서울종로경찰서',
 '서울남대문경찰서',
 '서울서대문경찰서',
 '서울혜화경찰서',
 '서울용산경찰서',
 '서울성북경찰서',
 '서울동대문경찰서',
 '서울마포경찰서',
 '서울영등포경찰서',
 '서울성동경찰서',
 '서울동작경찰서',
 '서울광진경찰서',
 '서울서부경찰서',
 '서울강북경찰서',
 '서울금천경찰서',
 '서울중랑경찰서',
 '서울강남경찰서',
 '서울관악경찰서',
 '서울강서경찰서',
 '서울강동경찰서',
 '서울종암경찰서',
 '서울구로경찰서',
 '서울서초경찰서',
 '서울양천경찰서',
 '서울송파경찰서',
 '서울노원경찰서',
 '서울방배경찰서',
 '서울은평경찰서',
 '서울도봉경찰서',
 '서울수서경찰서']

In [12]:
# Method 2
['서울' + name[:-1] + "경찰서" for name in crime_anal_police['관서명']]

['서울중부경찰서',
 '서울종로경찰서',
 '서울남대문경찰서',
 '서울서대문경찰서',
 '서울혜화경찰서',
 '서울용산경찰서',
 '서울성북경찰서',
 '서울동대문경찰서',
 '서울마포경찰서',
 '서울영등포경찰서',
 '서울성동경찰서',
 '서울동작경찰서',
 '서울광진경찰서',
 '서울서부경찰서',
 '서울강북경찰서',
 '서울금천경찰서',
 '서울중랑경찰서',
 '서울강남경찰서',
 '서울관악경찰서',
 '서울강서경찰서',
 '서울강동경찰서',
 '서울종암경찰서',
 '서울구로경찰서',
 '서울서초경찰서',
 '서울양천경찰서',
 '서울송파경찰서',
 '서울노원경찰서',
 '서울방배경찰서',
 '서울은평경찰서',
 '서울도봉경찰서',
 '서울수서경찰서']

In [17]:
# Method 3
list("서울" + crime_anal_police['관서명'].str[:-1] + "경찰서")

['서울중부경찰서',
 '서울종로경찰서',
 '서울남대문경찰서',
 '서울서대문경찰서',
 '서울혜화경찰서',
 '서울용산경찰서',
 '서울성북경찰서',
 '서울동대문경찰서',
 '서울마포경찰서',
 '서울영등포경찰서',
 '서울성동경찰서',
 '서울동작경찰서',
 '서울광진경찰서',
 '서울서부경찰서',
 '서울강북경찰서',
 '서울금천경찰서',
 '서울중랑경찰서',
 '서울강남경찰서',
 '서울관악경찰서',
 '서울강서경찰서',
 '서울강동경찰서',
 '서울종암경찰서',
 '서울구로경찰서',
 '서울서초경찰서',
 '서울양천경찰서',
 '서울송파경찰서',
 '서울노원경찰서',
 '서울방배경찰서',
 '서울은평경찰서',
 '서울도봉경찰서',
 '서울수서경찰서']

### 확인

In [18]:
# 경찰서 갯수
len(station_name)

31

In [19]:
len(police_address)

31

In [20]:
# 2개의 File에 경찰관서 동일한 이름인지 확인
len(station_name == police_address['경찰관서'])

31

### 경찰관서 위도 경도 불러오기

In [21]:
station_latlng = pd.read_csv("../Data/policeStation_latlng.csv")
station_latlng.head()

         lat         lng
0  37.559674  126.979373
1  37.575873  126.984538
2  37.554819  126.973563
3  37.560481  126.962589
4  37.571876  126.998932

In [22]:
# 기존 데이터에 병합하기
police_address = pd.merge(
                    police_address,
                    station_latlng,
                    left_index=True,
                    right_index=True
)

police_address.head()

,경찰관서,전화번호,FAX,주소,lat,lng
0,서울중부경찰서,(02)2273-4400,(02)2275-3009,서울 중구 수표로 27,37.559674,126.979373
1,서울종로경찰서,(02)3701-4324,(02)3701-4223,서울 종로구 율곡로 46,37.575873,126.984538
2,서울남대문경찰서,(02)2096-8324,(02)2096-8337,서울 중구 한강대로 410,37.554819,126.973563
3,서울서대문경찰서,(02)335-8192,(02)335-8189,서울 서대문구 통일로 113,37.560481,126.962589
4,서울혜화경찰서,(02)762-4400,(02)3158-7133,서울 종로구 창경궁로 112-16,37.571876,126.998932

In [24]:
# 경찰서의 주소중 구이름만 추출하기
crime_anal_police['구별'] = [region.split()[1] for region in police_address['주소']]
crime_anal_police.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,중부서,2,2,3,2,105,65,"1,395",477,"1,355","1,170",중구
1,종로서,3,3,6,5,115,98,"1,070",413,"1,278","1,070",종로구
2,남대문서,1,0,6,4,65,46,"1,153",382,869,794,중구
3,서대문서,2,2,5,4,154,124,"1,812",738,"2,056","1,711",서대문구
4,혜화서,3,2,5,4,96,63,"1,114",424,"1,015",861,종로구

In [25]:
len(crime_anal_police['구별'])

31

In [27]:
len(crime_anal_police['구별'].unique())

23

> 서울시의 구는 25개 구로 되어 있는데 23개 구만 보임      
서울시의 구는 25개 구로 되어 있는데 경찰서 수는 31개로 동일한 구에 경찰서가 1개 이상 있는 지역이 있다.

In [28]:
# 관서명과 구별 이름 확인
crime_anal_police.loc[:,['관서명','구별']]

     관서명    구별
0    중부서    중구
1    종로서   종로구
2   남대문서    중구
3   서대문서  서대문구
4    혜화서   종로구
5    용산서   용산구
6    성북서   성북구
7   동대문서  동대문구
8    마포서   마포구
9   영등포서  영등포구
10   성동서   성동구
11   동작서   동작구
12   광진서   광진구
13   서부서   은평구
14   강북서   강북구
15   금천서   관악구
16   중랑서   중랑구
17   강남서   강남구
18   관악서   관악구
19   강서서   양천구
20   강동서   강동구
21   종암서   성북구
22   구로서   구로구
23   서초서   서초구
24   양천서   양천구
25   송파서   송파구
26   노원서   노원구
27   방배서   서초구
28   은평서   은평구
29   도봉서   도봉구
30   수서서   강남구

In [31]:
# 금천서 : 관악구 -> 금천구로 수정
crime_anal_police[crime_anal_police['관서명'] == '금천서']
crime_anal_police.loc[crime_anal_police['관서명'] == '금천서', '구별'] = '금천구'
crime_anal_police[crime_anal_police['관서명'] == '금천서']

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
15,금천서,3,4,6,6,151,122,"1,567",888,"2,054","1,776",금천구

In [34]:
# 강서서 : 양천구 -> 강서구 
crime_anal_police[crime_anal_police['관서명'] == '강서서']
crime_anal_police.loc[crime_anal_police['관서명'] == '강서서', '구별'] = '강서구'
crime_anal_police[crime_anal_police['관서명'] == '강서서']

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
19,강서서,7,8,13,13,262,191,"2,096","1,260","3,207","2,718",강서구

In [35]:
# 확인
len(crime_anal_police['구별'].unique())

25

### 관서명으로 데이터를 정리하는 것이 아니고 구별로 데이터를 정리

In [36]:
crime_anal_police.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   관서명     31 non-null     object
 1   살인 발생   31 non-null     int64
 2   살인 검거   31 non-null     int64
 3   강도 발생   31 non-null     int64
 4   강도 검거   31 non-null     int64
 5   강간 발생   31 non-null     int64
 6   강간 검거   31 non-null     int64
 7   절도 발생   31 non-null     object
 8   절도 검거   31 non-null     object
 9   폭력 발생   31 non-null     object
 10  폭력 검거   31 non-null     object
 11  구별      31 non-null     object
dtypes: int64(6), object(6)
memory usage: 3.0+ KB

In [37]:
# 절도발생과 검거, 폭력발생과 검거를 정수 타입으로 변환
crime_anal_police['절도 발생'] = crime_anal_police['절도 발생'].str.replace(",","").astype(int)
crime_anal_police['절도 검거'] = crime_anal_police['절도 검거'].str.replace(",","").astype(int)
crime_anal_police['폭력 발생'] = crime_anal_police['폭력 발생'].str.replace(",","").astype(int)
crime_anal_police['폭력 검거'] = crime_anal_police['폭력 검거'].str.replace(",","").astype(int)

crime_anal_police.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   관서명     31 non-null     object
 1   살인 발생   31 non-null     int64
 2   살인 검거   31 non-null     int64
 3   강도 발생   31 non-null     int64
 4   강도 검거   31 non-null     int64
 5   강간 발생   31 non-null     int64
 6   강간 검거   31 non-null     int64
 7   절도 발생   31 non-null     int32
 8   절도 검거   31 non-null     int32
 9   폭력 발생   31 non-null     int32
 10  폭력 검거   31 non-null     int32
 11  구별      31 non-null     object
dtypes: int32(4), int64(6), object(2)
memory usage: 2.6+ KB

In [38]:
# 구별로 데이터를 정리한다. 
pd.pivot_table(
    crime_anal_police,
    index='구별',
    aggfunc="sum"
)

,강간 검거,강간 발생,강도 검거,강도 발생,관서명,살인 검거,살인 발생,절도 검거,절도 발생,폭력 검거,폭력 발생
구별,,,,,,,,,,,
강남구,349,449,18,21,강남서수서서,10,13,1650,3850,3705,4284
강동구,123,156,8,6,강동서,3,4,789,2366,2248,2712
강북구,126,153,13,14,강북서,8,7,618,1434,2348,2649
강서구,191,262,13,13,강서서,8,7,1260,2096,2718,3207
관악구,221,320,14,12,관악서,8,9,827,2706,2642,3298
광진구,220,240,26,14,광진서,4,4,1277,3026,2180,2625
구로구,164,281,11,15,구로서,6,8,889,2335,2432,3007
금천구,122,151,6,6,금천서,4,3,888,1567,1776,2054
노원구,121,197,7,7,노원서,10,10,801,2193,2329,2723
도봉구,106,102,10,9,도봉서,3,3,478,1063,1303,1487
동대문구,146,173,13,13,동대문서,5,5,814,1981,2227,2548
동작구,139,285,5,9,동작서,5,5,661,1865,1587,1910
마포구,247,294,10,14,마포서,8,8,813,2555,2519,2983
서대문구,124,154,4,5,서대문서,2,2,738,1812,1711,2056
서초구,249,393,6,9,서초서방배서,6,8,1091,2635,2098,2399
성동구,119,126,8,9,성동서,4,4,597,1607,1395,1612
성북구,124,150,4,5,성북서종암서,5,5,741,1785,1855,2209
송파구,178,220,10,13,송파서,10,11,1129,3239,2786,3295
양천구,105,120,3,6,양천서,5,3,672,1890,2030,2509
영등포구,183,295,20,22,영등포서,12,14,978,2964,2961,3572
용산구,173,194,14,14,용산서,5,5,587,1557,1704,2050
은평구,141,166,6,9,서부서은평서,3,3,711,1914,2306,2653
종로구,161,211,9,11,종로서혜화서,5,6,837,2184,1931,2293
중구,111,170,6,9,중부서남대문서,2,3,859,2548,1964,2224
중랑구,148,187,9,11,중랑서,12,13,829,2135,2407,2847